body {
    font-family: 'Times New Roman', Times, serif;
    font-size:22px;
    background:#dcf8f3;
}

header a{
    color:white;
    background-color:black;
    border-radius: 7px;
    padding: 6px;
    box-shadow:3px 3px 0px 1px grey;
    transition:0.9s;
}

header a:hover{
    background-color:grey;
    transition: 0.9s;
    box-shadow: 3px 3px 0px 1px black;
}
